.left-section {
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border-style: none;
  margin-left: 15px;
  cursor: default;
  }

.home {
  margin-left: 270px;
  font-size:20px;
  cursor: pointer;
}

.shop {
  font-size:20px;
  cursor: pointer;
  margin-left: 25px;
}

.pages {
  font-size:20px;
  cursor: pointer;
  margin-left: 25px;
}

.blog {
  font-size:20px;
  cursor: pointer;
  margin-left: 25px;
}

.contact {
  font-size:20px;
  cursor: pointer;
  margin-left: 25px;
}

.search-icon {
  width: 32px;
  display: inline-block;
  margin-left: 300px;
  cursor: pointer; 
}

.heart-icon {
  display: inline-block;
  margin-left: 20px;
  cursor: pointer;
}

.cart-icon {
  display: inline-block;
  margin-left: 20px;
  cursor: pointer;
}

.danger {
  border-color: red;
  background-color: white;
  font-weight: 700;
  color: red;
  margin-left: 290px;
  width:120px;
  height:50px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.danger:hover {
  background: red;
  color: white;
}
